# Package Manager
package-manager=pnpm@8.11.0
shamefully-hoist=true

# Storage
store-dir=.pnpm-store
cache-max-age=31536000

# Network
network-concurrency=1
network-timeout=60000
fetch-retries=3
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
fetch-retry-factor=2

# Registry
registry=https://registry.npmjs.org/
strict-ssl=true

# Dependencies
strict-peer-dependencies=false
prefer-offline=true
prefer-frozen-lockfile=true

# Proxy
proxy=null
https-proxy=null


